@font-face {
 font-family: 'SEAS';
 src: url('fonts/SEAS.eot');
 src: url('fonts/SEAS.eot?#iefix') format('embedded-opentype'),
 url('fonts/SEAS-webfont.woff') format('woff'),
 url('fonts/SEAS.otf') format('truetype'),
 url('fonts/SEAS-webfont.svg#SEAS') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Ostrich';
 src: url('fonts/Ostrich.eot');
 src: url('fonts/Ostrich.eot?#iefix') format('embedded-opentype'),
 url('fonts/Ostrich-webfont.woff') format('woff'),
 url('fonts/Ostrich.otf') format('truetype'),
 url('fonts/Ostrich-webfont.svg#Ostrich') format('svg');
 font-weight: normal;
 font-style: normal;
}



@font-face {
 font-family: 'dreams';
 src: url('fonts/dreams.eot');
 src: url('fonts/dreams.eot?#iefix') format('embedded-opentype'),
 url('fonts/dreams-webfont.woff') format('woff'),
 url('fonts/dreams.ttf') format('truetype'),
 url('fonts/dreams-webfont.svg#SEAS') format('svg');
 font-weight: normal;
 font-style: normal;
}

*{
margin: 0;
padding: 0;
}
#homebod {
background-repeat:no-repeat;
background-position:right top;
height:100%;
}

#navicons {
position:fixed;
top:0;
z-index:2000;
width:100%;
background: #EDEDED;
box-shadow: 0px 0px 1px 2px rgba(114, 81, 39, 0.2);
border-bottom:1px dashed #B8B8B8;
}

#navicons ul{
list-style-type: none;
margin-left: auto;
margin-right: auto;
width: 100px;
padding: 5px 0;
}

#navicons li {
padding-bottom:5px;
padding-right:5px;
display:inline;
}

img.icon {
width:20px;
}

#container {
max-width:100%;
margin-left:auto;
background-color:rgba(175,175,175,1);
height:92%;
margin-top:2%;
min-height:92%;
width:95%;
margin-right:auto;
position:static;
margin-bottom:15%;
}

#containero {
height:auto;
max-width:100%;
margin-left:auto;
min-height:100%;
width: 90%;
margin-right:auto;
margin-bottom:15%;

}

#content {
padding-top:5%;
display:block;
margin-left:auto;
margin-right:auto;
}

img.arrow {
display:block;
width:100px;
margin-left:auto;
margin-right:auto;
}



#content img {
position:relative;
margin-top:10px;
margin-bottom:30%;
max-width:100%;
margin-left:auto;
margin-right:auto;
}

img.about {
display:block;
margin-left:auto;
margin-top: 5%;
margin-right:auto;
}


#about {
height:auto;
max-width:100%;
margin-left:5%;
background-color:rgba(194, 225, 194, 0.44);
min-height:100%;
width: 90%;
margin-right:auto;
}

#logo {
margin-right:auto;
margin-left:auto;
width:200px;
display:block;
}

#stripe {
border-bottom:1px solid black;
}

#logo img {
margin-bottom: 10px;
outline: none;
margin-top: 10px;
position: relative;
width: 160px;
z-index: 100;
transition: opacity .5s ease-in;
-webkit-transition: opacity .5s ease-in;
opacity: 0.0;
position: relative;
top: 20px;
}


#tanya {
font-family:'dreams';
font-size:6.5em;
width:100%;
max-width:100%;
min-width:50%;
color: black;
position:relative;
float:left;
text-shadow: 3px 3px 0 #FFFFFF;
text-align:center;
list-style-type: none;
}

#name {
font-size:3em;
width:100%;
max-width:100%;
min-width:50%;
color: black;
position: static;
text-shadow: 2px 2px 0 #e0e0e0;
text-align:center;
z-index:100;
margin-bottom:3px;
}


#name a {
font-family: 'dreams';
color: black;
}

#headlogo img {
float:left;
padding-left:10px;
width: 100px;
position:absolute;
}

@media screen and (max-width: 830px) {
#tanya li {font-size:.7em;}
#tanya p {text-align:center;}
}


#name li {
list-style: none;
max-width:100%;
}

#ux {
font-family:"SEAS";
text-align:center;
margin-bottom:5%;
font-size:1.5em;
}

#ux h2 {
background:none;
color:black;
position:relative;
letter-spacing:2px
}


p.toptext {
font-size: 3em;
font-family:'SEAS';
background:white;
text-align:Center;
padding: 7px 0;
color:black;
}


#work{ 
position: relative; 
width:100%
margin-left:auto;
margin-right:auto;
margin-top:1%;
background:rgba(255,255,255,.8)
}

#work ul {
list-style-type:none;
}

li.image {
width:600px;
margin-bottom:10%;
position:relative;
margin-left:auto;
margin-right:auto;}

li.image img {
 width:600px;
 outline: 2px solid #ededed;
}

.image p {
background: rgba(0,0,0,.8);
padding: 15px 0;
color:white;
font-family:'SEAS';
width:70%;
bottom:0;
position:absolute;
text-align: center;
margin-bottom:3%;
display:none;
}

.image:hover p {
transition:display 2s;
display:block;
}

.image:hover img {
transition:outline 1s;
outline:1px dashed black;
}


span#title {
font-size: 1.2em;
}

#name a img {
width:50px;
}

#og-grid.og-grid img {
border: 10px white solid;
}

.container {
background-color:rgba(194, 225, 194, 0.44);
padding-bottom:5%;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}
