body {
	background: #dbdbdb;
}


header {
	
	background: #F8F9F6;

	div {
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		text-align: center;
		color: #5c5A53;
	}

	h1 {
		font-size: 80px;
		font-family: 'Playfair Display SC', serif;
		font-weight: 900;
		padding-top: 70px;
		letter-spacing:3px;	
		
	}

	p {
		font-size:20px;
		line-height:3em;
		font-weight:700;
		opacity:.6;

	}

}

.timeline {
	@include clearfix;
	background-color: #F8F9F6;
	text-align:center;

}

.big-body {
	@include clearfix;
	background-color: white;
	height: 100%;
	z-index: 3000;
	position: relative;
}

.timeline-left, .timeline-right {
	width: 49%;
	float: left;
	margin-top: 100px;
}

.timeline-left {
	border-right: 1px solid black;
}

section {

	img {
		width: 85%;
		}
}

.flags {
	background-image: url("images/flag2.png");
    background-repeat: repeat-x;
    height: 70px;
    width: 100%;
    border-top: 5px solid white;
    position:fixed;
}
