.donate-button {
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 10px;
	z-index: 2000;
	height: 80px;
	width: 80px;
	border-radius: 65px;
	border: 5px solid #fff;
	background-color: $mainGrey;

	&__text {
		text-align: center;
		padding-top: 25px;
		font-family: 'Fredoka One', sans-serif;
		font-size: 10px;
		color: #fff;
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 18px;
	}
}



.global-nav__item {
	display: inline-block; 
	vertical-align: top;
	padding: 40px 0px; 
	font-size: 14px; 
}

.sos-logo {
	 display: inline-block;
	 padding-top: 10px; 
}

.global-nav__link {
	font-weight: 300;
  	padding: 10px 0;
	margin: 0 10px; 
  	color: $mainGrey;
  	border-bottom: 0;
  	transition: border .3s ease-in-out;
  	.sos-logo & {
  		display: block;
  }	 
}

.selected-link {
	font-weight: 400;

}

.global-nav__link:hover {
	font-weight: 400;
}

.global-nav__logo  {
	position: relative;
	margin: auto;
	width: 80px;
	display: inline-block;
}

.global-nav__logo--mobile {
	@extend .global-nav__logo;
	display: block;
	width: 70px;
	padding: 5px 0;
	margin-top: -50px;
	z-index: 3;
}


/*-------------------------------------------*/
.global-nav {
	background: #EFECF5;
	word-spacing: -3px;
	height: 85px;
	width: 100%;
    text-align: center;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	font-family: 'Source Code Pro', ;
	text-transform: uppercase; 
}


// .global-nav__link:hover {
// 	border-bottom: 1px dotted #313C44;
// 	transition: border-bottom .5s ease-in-out; 
// }

.menu-icon {
	position: absolute;
	right: 10px;
	color: #313C4;
	cursor: pointer;
  	font-size: 34px;
  	top: 10;
}

#menuToggle {display: none; }

// #menuToggle:checked ~ .global-nav { position: absolute; top: 0px;}

/*-------------------------------------------*/

@media screen and (max-width: 900px){
	.global-nav__list { 
		display: block; 
	}

	.global-nav__item {
		display: block; 
		background: #EFECF5;
		padding: 15px 0; 
		border-bottom: .5px dotted #313C44; 
	}

	.global-nav__item:hover {
	  	background: #DDD9E8;
	}

	.global-nav { 
		top: -450px;
		position: relative; 
		height: auto; 
	}

	.logo--mobile__container {
		background: #EFECF5;
	}

 	.mobile-nav {
	    background: #EFECF5;
	    height: 60px;
	    border-bottom: 1px solid #313C44;
  	}	

	.sos-logo {
		display: none;
	}

	.hamburger__container {
		background-color: #EFECF5;
		height: 50px;
	}  
}

@media screen and (min-width: 900px) {
	  .menu-icon {
	  	display: none;
	  }

	  .hamburger__container {
	  	display: none;
	  }

	  .global-nav__logo--mobile {
	  	display: none;
	  }
}