* {
  box-sizing: border-box;
  font-family: $workSans;
  margin: 0;
  font-size: 10px;
  -webkit-overflow-scrolling: auto;
}

#lottie-watch-mobile, #lottie-perfume-mobile, #lottie-tee-mobile, #lottie-sunglasses-mobile {
  width: 50%;
}