//hero text
// 150/45
.extra-large-headline {
  font-weight: 700;
  font-size: min(max(4.5rem, 11vw), 150px);
}

//Very large display text
// 110/50px
.large-headline {
  font-size: min(max(5rem, 8vw), 110px);
}

// used above hero image
// 80/40px
.medium-headline {
  font-size: min(max(4rem, 5.5vw), 80px);
  font-weight: 700;
}

// 24/15
.small-title {
  font-size: 15px;
  line-height: 18px;
  
  @media screen and (min-width: $tablet) {
    font-size: 25px;
    line-height: 29px;
  }
}

// 16/13
.small-text {
  line-height: 15px;
  font-size: 13px;
  
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 19px;
  }
}

.gradient-text {
  font-size: min(max(1rem, 5vw), 18px);
  background: linear-gradient(173.86deg, #F27690 23.38%, #0029FF 66.36%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}
