//hero text
.extra-large-headline {
  font-size: 130px;
  font-weight: 700;
  line-height: 176px;
}

//Very large display text
.large-headline {
  font-size: 50px;
  line-height: 40px;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    font-size: 110px;
    line-height: 100px;
  }
}

// Titles are used above paragraphs
.large-title {
  font-size: 25px;
  line-height: 29px;
}

.small-title {
  font-size: 24px;
  line-height: 28px;
}

.large-text {
  font-size: 18px;
  line-height: 21px;
}

.small-text {
  font-size: 16px;
  line-height: 19px;
}