//hero text
// 150/45
.extra-large-headline {
  font-weight: 700;
  font-size: min(max(4.5rem, 11vw), 150px);
}

//Very large display text
// 110/50px
.large-headline {
  font-size: min(max(5rem, 8vw), 110px);
}

// used above hero image
// 80/40px
.medium-headline {
  font-size: min(max(4rem, 5.5vw), 80px);
}

// Titles are used above paragraphs
.large-title {
  font-size: 25px;
  line-height: 29px;
}

.small-title {
  font-size: 24px;
  line-height: 28px;
}

.large-text {
  font-size: 18px;
  line-height: 21px;
}

.small-text {
  font-size: 16px;
  line-height: 19px;
}

.gradient-text {
  font-size: min(max(1rem, 5vw), 18px);
  background: linear-gradient(173.86deg, #F27690 23.38%, #0029FF 66.36%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}
