%vertical-tag {
  transform: rotate(-90deg);
  font-size: 13px;
  font-family: 'VT323', monospace;
  position: absolute;
}

%pink-tag {
  background-color: #ee77e3;
  color: #fff;
  padding: 5px 15px;
}

.left-tag {
  @extend %vertical-tag;
  color: #ee77e3;
  left: -105px;
  top: 92px;
}

.fill-tag {
  @extend %vertical-tag;
  @extend %pink-tag;
  top: 30px;
  left: 0;
  display: none;

  @media screen and (min-width: 680px) {
    display: block;
  }
}

.horizontal-tag {
  @extend %pink-tag;
  position: absolute;
  right: 0;
  letter-spacing: 1px;
  display: none;

  @media screen and (min-width: 680px) {
    display: block;
  }
}

.right-vertical-tag {
  @extend %vertical-tag;
  top: -118px;
  color: #ee77e3;
  right: -88px;
}
