@font-face {
  font-family: 'League-Spartan';
  src: url(fonts/LeagueSpartan-Bold.otf);
}
/* line 6, scss/_svg-styles.scss */
body {
  border: 10px solid #fff;
}

/* line 10, scss/_svg-styles.scss */
svg {
  width: 160px;
}

/* line 14, scss/_svg-styles.scss */
#train {
  width: 200px;
  padding-top: 45px;
  margin-left: -5px;
}

/* line 21, scss/_svg-styles.scss */
#bus {
  width: 115px;
  padding-top: 30px;
  margin-left: 15px;
}

/* line 28, scss/_svg-styles.scss */
.frame {
  width: 97%;
  background-color: white;
  z-index: 30000;
  position: relative;
}

/* line 35, scss/_svg-styles.scss */
.icon-grid {
  padding-top: 70px;
  margin-bottom: 50px;
}

/* line 39, scss/_svg-styles.scss */
header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  position: fixed;
  background: white;
  z-index: 3000;
  border-bottom: 6px double #232323;
}
/* line 49, scss/_svg-styles.scss */
header :after {
  padding: 40px 0px 0px;
}
/* line 53, scss/_svg-styles.scss */
header h1 {
  text-align: center;
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 20px;
  color: #232323;
}

/* line 63, scss/_svg-styles.scss */
img {
  width: 150px;
}

/* line 67, scss/_svg-styles.scss */
.train img {
  padding-top: 35px;
  width: 230px;
}

/* line 72, scss/_svg-styles.scss */
.clock {
  width: 130px;
  padding-top: 10px;
}

/* line 78, scss/_svg-styles.scss */
.name {
  padding-top: 75px;
  font-size: 20px;
  text-align: center;
  font-family: 'Rochester', cursive;
}
