html * {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
	background-color: #333;

	&__logo {
		margin: auto;
		padding: 10px;
		width: 200px;
		display: block;
	}

	&__authors {
		color: #ffffff;
		border-bottom: 1px solid #ffffff;
		display: block;
		font-size: 12px;
		padding: 0 0 20px;
		text-align: center;
	}

	&__chapter {
		text-transform: uppercase;
		text-align: center;
		display: block;
		font-size: 20px;
		color: #45b1e3;
		padding: 20px;
	}
}


.video-profile {
	background-color: #d7f4fa;

	&__video-container {
		padding: 20px 20px 40px;
		max-width: 1440px;
		margin: auto;

		@media (min-width: 768px) {
			padding: 40px;
		}
	}

	&__video {
		width: 100%;
		box-sizing: border-box;
		max-width: 670px;
		margin: auto;
		display: block;
	}

	&__info {
		margin: 20px 0px;
	}

	&__chapter {
		color: #45b1e3;
		display: block;
		margin-bottom: 5px;
		font-size: 12px;
		text-transform: uppercase;
	}
}


.qa__title, .video-profile__info__title {
	font-size: 20px;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;

	@media (min-width: 768px) {
		font-size: 40px;
		padding-bottom: 10px;
	}
}



.qa {
	max-width: 1440px;
	margin: auto;
	padding: 20px 20px 40px;

	@media (min-width: 768px) {
		padding: 38px;
	}

	&__title {
		margin: 20px 0px;
	}

	&__questions {
		margin: auto;
		width: 100%;
		max-width: 1440px;		
	}

	&__bottom, &__top {
		margin: 10px 0;

		@media (min-width: 768px) {
			margin: 40px 0;
		}
	}


	&__dropcap, &__quotes {
		font-size: 22px;
		width: 26px;
		font-family: Georgia, serif;
		font-weight: bold;
		vertical-align: top;

		@media (min-width: 768px) {
			font-size: 28px;
		}
	}

	&__quotes {
		display: none;
	}

	&__item {
		display: inline-block;
		float: left;
		width: 100%;
		box-sizing: border-box;
	
		@media (min-width: 768px) {
			width: calc(100% / 3);
		}

	}

	&__question {
		font-size: 14px;
		line-height: 20px;

		@media (min-width: 768px) {
			font-size: 16px;
			line-height: 1.2;
		}
	}

	&__video, &__question-container {
		width: calc(100% - 32px);
		padding-left: 10px;
		display: inline-block;
		line-height: 1;
		box-sizing: border-box;

		@media (min-width: 768px){
			width: calc(100% - 40px);
		}
	}
}



.group:after {
  content: "";
  display: table;
  clear: both;
}

