a {
	text-decoration: none;
	font-family:'PrintClearly';
	color: #05B8FF;
	font-weight: 900;
}

a:hover {
	color: #009BD8;
}

h2 {
	font-size: 1.5em;
	font-weight: 900;
	padding: 20px 0 5px 0;
	text-transform:uppercase;
	color: rgb(255, 141, 163);
}

.active-page {
	border: 1px solid #000;
}

.active-store {
	border-bottom: 1px solid #000;
}