
@font-face {
 font-family: 'SimploCaps';
 src: url('assets/fonts/SimploCaps.eot');
 src: url('assets/fonts/SimploCaps.eot?#iefix') format('embedded-opentype'),
 url('assets/fonts/SimploCaps-webfont.woff') format('woff'),
 url('assets/fonts/SimploCaps.ttf') format('truetype'),
 url('assets/fonts/SimploCaps-webfont.svg#SimploCaps') format('svg');
 font-weight: normal;
 font-style: normal;
}
