
.navigation {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    background: #fff;
    padding: 20px 20px;
    box-shadow: 0px 1px 1px#905af92b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 650px) {
    padding: 10px 20px 7px;
    flex-direction: column;
   }

    &__list {

      @media (max-width: 650px) {
       padding-top: 10px;
      }
    }

    &__item {
      display: inline-block;
      padding: 0 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;

      @media (max-width: 650px) {
        padding: 0 3px;
        font-size: 14px;
      } 
    }

    &__list--icon {
      @extend .navigation__list;
      padding-left: 50px;
    }

    &__item--icon {
      width: 20px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
      opacity: .8;
      transition: opacity .3s;

      @media (max-width: 650px) {
        margin-left: 10px;
      } 
    } 

    &__item--icon:hover {
      opacity: .7;
    }

    &__link {
      color: #383732;
      text-decoration: none;
      font-family: monospace;
      cursor: pointer;
    }

    &__logo__text {
      display: inline-block;
      letter-spacing: 1px;
      font-size: 14px;
      color: #333;
      transition: color .3s;

    }

    &__logo__text:hover {
      color: $purple;
    }

    &__logo__link {
      display: inline-block;
      text-decoration: none;
      font-family: monospace;
    }  
}

nav a:hover {
  color: $purple;
  text-decoration: none;
  transition-duration: .2s;
}

a.nav-active {
    color: #f95a6d;

}


