
body {
  height: 100%;
  background-color: $white;
}

.welcome {
  height: 100%;
  min-height: 100vh;

    &__container {
      @include clearfix;
      width: 100%;
      position: relative;
      padding: 90px 20px 70px;

      @media (max-width: 650px) {
        padding: 100px 20px 20px;
        font-size: 12px;
      }    
    }

    &__message {
      @include clearfix;
      max-width: 600px;
      margin: auto; 
    }

    &__floatingtext {
      position: relative;
      transform: rotate(-7deg);
      top: 35px;
      left: -75px;
      font-size: 14px !important;
      opacity: 0;

      -webkit-animation: appearing .01s;
      -moz-animation: appearing  .01s;
      -o-animation: appearing  .01s;
      animation: appearing .01s;
      animation-delay: 4.4s;
      animation-fill-mode: forwards;

      @media (max-width: 470px) {
        left: -70px;
        top: 50px;
        font-size: 14px;
      }
    }

    &__image-container {
      width: auto;
      margin: auto;
      @include clearfix;
    }

    &__image {
      width: 80%;
      margin: auto;
      max-width:220px;
      min-width:200px;
      display: block;
      margin-top: -12%;
    }

    &__headline {
      font-size: 20px;
      color: $purple;
      text-align: center;
      padding: 15px 0 10px;
      font-family: monospace;
      font-style: normal;

       @media (max-width: 650px) {
        font-size: 15px;
      }    
    }

    &__paragraph {
        font-family: monospace;
        font-style: normal;
        line-height: 1.5;
        font-size: 14px;

        @media (max-width: 650px) {
          font-size: 12px;
          line-height: 1.5;
          padding: 0 10px;
        }    
      }
    }


.welcome__background-container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 40px 60px 60px;
  background-color: $white;
  border-radius: 1px;
  margin: auto;
  max-width: 700px;

  @media (max-width: 650px) {
        padding: 0px 20px 40px;
        font-size: 14px;
        border: 15px double $gray;
      }    
}


.work, .about { 
  margin: auto;
  position: relative;
}


.work {
  background: #fff;

    &__list {
      @include clearfix;
      position: relative;
    }

    &__container {
      position: relative; 
      width: 100%; /* for IE 6 */
      margin: auto;
      background: $white;
    }
    
    &__item {
      display: block;
      text-align: center;
      padding: 10px 20px;
      min-height: 325px;

        @media (max-width: 640px) {
          min-height: 100px;
          padding: 15px;
      }  

      a {
        display: inline-block;
        text-decoration: none;
        color: $gray;
      }
    }

    &__image {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      max-width: 450px;
    }

    &__title {
      font-size: 14px;
      letter-spacing:1px;
      padding-top: 20px;
      text-align: center;
      font-family: monospace;
      min-height: 58px;
    }
}

.work__grid {
  display: flex;
  flex-wrap: wrap;
}


@-webkit-keyframes appearing {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes appearing {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@-o-keyframes appearing {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@keyframes appearing {
0%   { opacity: 0; }
100% { opacity: 1; }
}


.section-title {
  font-size: 50px;
  color: #383732;
  font-family: monospace;
  text-transform:uppercase;
  padding: 50px 30px;
  text-align: center;
  font-weight:500;
  letter-spacing:6px;
  text-shadow:0px 0px 0.4px;
}

footer {
  position: relative;
  z-index: 2000;
  background: #333;
  font-size: 12px;
  padding: 30px 0;
  font-family: monospace;
  text-align: center;
  color: white;
  letter-spacing: 1px;

  @media (max-width: 650px) {
    font-size: 10px;
  }
}




