
body {
  height:1vh;
  width: 100%;
  background-color: #000;
}

.navigation {
    position:fixed;
    top:0;
    z-index:2000;
    width:100%;
    background: none;
    padding: 25px 0;

    &__list {
      float: right;

          @media (max-width: 600px) {
            float: left;
            padding-top: 25px;
            font-size: 12px;    
         }
    }

    &__item {
      display: inline-block;
      padding: 0 10px;
      letter-spacing:1px;
    } 

    &__link, &__logo {
      color:#fff;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
    }

    &__logo {
      font-family: 'Montserrat', sans-serif;
      position: absolute;
      font-size:1.4em;
      top: 21px;
      left: 20px;
      letter-spacing: normal;
     } 
}



nav a:hover {
  color:#f95a6d;
  text-decoration:none;
  transition-duration:800ms;
}

a.nav-active {
color:#FFC672;
}


