.work-body {
	background: $teal;
}

.work-details {
	background: #fff;
	text-align: center;
	padding-top: 20px;
	margin: 20px;


	&__role {
		font-size: 16px;
		padding-top: 10px;
	}

	&__title {
		font-size: 28px;
		color: #FCFEF5;
		font-family:'SimploCaps';
		background:#383732;
		text-transform:uppercase;
		text-align:center;
		padding: 25px 0;
		font-weight:500;
		letter-spacing:6px;
	}
}


.work__image--main {
	width: 75%;
	margin: auto;
	padding: 20px;
}