.work-body {
	background: #000;
}

.work-details {
	text-align: center;
	// border-top: 1px solid rgba(255, 255, 255, 0.26);
	padding-top: 20px;
	margin: 20px;
	color: #fff;


	&__role {
		font-size: 16px;
		padding-top: 10px;
	}

	&__title {
		font-size: 20px;
		text-transform:uppercase;
		text-align:center;
		padding: 25px 0;
		font-family: 'Montserrat', sans-serif;

		letter-spacing:6px;
	}
}


.work__image {
	width: 105%;
	margin: auto;
}

.work__row {
	@include clearfix;
	padding: 40px 0;
}