/* line 1, scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, scss/_reset.scss */
html * > svg {
  -webkit-transform-origin-x: 0%;
  -webkit-transform-origin-y: 0%;
  -webkit-transform-origin-z: initial;
}

/* HTML5 display-role reset for older browsers */
/* line 28, scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, scss/_reset.scss */
body {
  line-height: 1;
}

/* line 35, scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'nickainley';
  src: url(fonts/nickainley.otf);
}
/* line 11, scss/_styles.scss */
a {
  text-decoration: none;
  color: #0f0803;
  font-weight: bold;
}
/* line 16, scss/_styles.scss */
a:hover {
  text-decoration: none;
  opacity: .6;
  transition-duration: 800ms;
}

/* line 23, scss/_styles.scss */
body {
  font-size: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  background-color: #09dfff;
}

/* line 31, scss/_styles.scss */
.headline {
  font-weight: 900;
  font-size: 1.8em;
  letter-spacing: 3px;
  font-style: italic;
  text-align: center;
  padding: 65px 0 0 0;
  line-height: 1.1;
}
@media (min-width: 500px) {
  /* line 31, scss/_styles.scss */
  .headline {
    font-size: 2.25em;
    letter-spacing: 10px;
  }
}
/* line 45, scss/_styles.scss */
.headline__slogan {
  font-family: "nickainley";
  text-align: center;
  padding-top: 20px;
  font-size: 1em;
}

/* line 53, scss/_styles.scss */
.sub-text {
  margin: auto;
  width: 80%;
  max-width: 500px;
}
/* line 58, scss/_styles.scss */
.sub-text__cta {
  text-align: center;
  font-family: "nickainley";
  font-size: 2em;
}
/* line 64, scss/_styles.scss */
.sub-text__copy {
  line-height: 1.4em;
  padding: 30px 0 20px 0;
  font-size: .9em;
  text-align: center;
}

/* line 72, scss/_styles.scss */
.main-container {
  margin: auto;
  max-width: 1280px;
  width: 85%;
  background: #fff;
}

/* line 84, scss/_styles.scss */
.inside-container {
  max-width: 800px;
  margin: auto;
}

/* line 89, scss/_styles.scss */
.header {
  background: #09dfff;
  text-align: center;
  height: 35px;
}
@media (min-width: 500px) {
  /* line 89, scss/_styles.scss */
  .header {
    height: 75px;
  }
}
/* line 98, scss/_styles.scss */
.header__logo {
  width: 125px;
  margin-top: 13px;
}
@media (min-width: 500px) {
  /* line 98, scss/_styles.scss */
  .header__logo {
    width: 145px;
    margin-top: 48px;
  }
}

/* line 112, scss/_styles.scss */
.divider {
  margin: 30px 0;
  border-top: 1px dashed #000;
}

/* line 117, scss/_styles.scss */
.form {
  width: 70%;
  background-color: #e3fdff;
  margin: auto;
  padding: 30px;
}
/* line 123, scss/_styles.scss */
.form input[type="radio"] {
  display: none;
}
/* line 127, scss/_styles.scss */
.form input[type="radio"]:checked + label {
  outline: 2px solid #000;
}
/* line 132, scss/_styles.scss */
.form__label {
  display: block;
  padding: 5px;
  font-size: .8em;
}
/* line 138, scss/_styles.scss */
.form__title {
  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
/* line 147, scss/_styles.scss */
.form__colors, .form__add-ons {
  margin: 15px 0;
}

/* line 152, scss/_styles.scss */
.form__swatch, .swatch--yellow, .swatch--seafoam, .swatch--teal, .swatch--red, .swatch--pink, .swatch--black {
  height: 30px;
  width: 62px;
  border: 2px solid #fff;
  display: inline-block;
  margin: 5px;
}
/* line 159, scss/_styles.scss */
.form__swatch:hover, .swatch--yellow:hover, .swatch--seafoam:hover, .swatch--teal:hover, .swatch--red:hover, .swatch--pink:hover, .swatch--black:hover {
  outline: 2px solid #000;
}

/* line 164, scss/_styles.scss */
.swatch--yellow {
  background-color: #d3d400;
}

/* line 169, scss/_styles.scss */
.swatch--seafoam {
  background-color: #aafffd;
}

/* line 174, scss/_styles.scss */
.swatch--teal {
  background-color: #09dfff;
}

/* line 179, scss/_styles.scss */
.swatch--red {
  background-color: #ff0000;
}

/* line 184, scss/_styles.scss */
.swatch--pink {
  background-color: #ffc6ae;
}

/* line 189, scss/_styles.scss */
.swatch--black {
  background-color: #000;
}

/* line 195, scss/_styles.scss */
.footer {
  margin-top: 100px;
  height: 45px;
  background: #0f0803;
  color: #fff;
}
/* line 201, scss/_styles.scss */
.footer__text {
  color: #A9A29D;
  text-align: center;
  padding: 15px;
  font-size: 12px;
  vertical-align: middle;
  display: block;
  margin: auto;
}

/* line 3, scss/_mobile-home.scss */
.cls-1, .cls-10, .cls-11, .cls-12,
.cls-14, .cls-17, .cls-5,
.cls-6, .cls-9 {
  fill: #fff;
}

/* line 9, scss/_mobile-home.scss */
.cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-18, .cls-19, .cls-2, .cls-20, .cls-21, .cls-22, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
  stroke: #000;
}

/* line 14, scss/_mobile-home.scss */
.cls-1, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-18, .cls-19, .cls-2, .cls-20, .cls-21, .cls-22, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
  stroke-miterlimit: 10;
}

/* line 16, scss/_mobile-home.scss */
.cls-1, .cls-2, .cls-20, .cls-3, .cls-7 {
  stroke-width: 4px;
}

/* line 18, scss/_mobile-home.scss */
.cls-2 {
  fill: #ffede5;
}

/* line 19, scss/_mobile-home.scss */
.cls-3 {
  fill: #ffe8e8;
}

/* line 20, scss/_mobile-home.scss */
.cls-16, .cls-3 {
  stroke-linejoin: round;
}

/* line 21, scss/_mobile-home.scss */
.cls-13, .cls-15, .cls-16, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-4, .cls-7, .cls-8 {
  fill: none;
}

/* line 24, scss/_mobile-home.scss */
.cls-4 {
  stroke-width: 2px;
}

/* line 25, scss/_mobile-home.scss */
.cls-18, .cls-5 {
  stroke-width: 3px;
}

/* line 26, scss/_mobile-home.scss */
.cls-6 {
  stroke-width: 2.89px;
}

/* line 27, scss/_mobile-home.scss */
.cls-8 {
  stroke-width: 3.96px;
}

/* line 28, scss/_mobile-home.scss */
.cls-9 {
  stroke-width: 3.76px;
}

/* line 29, scss/_mobile-home.scss */
.cls-10 {
  stroke-width: 3.75px;
}

/* line 30, scss/_mobile-home.scss */
.cls-11 {
  stroke-width: 3.74px;
}

/* line 31, scss/_mobile-home.scss */
.cls-12 {
  stroke-width: 3.75px;
}

/* line 32, scss/_mobile-home.scss */
.cls-13 {
  stroke-width: 15px;
}

/* line 33, scss/_mobile-home.scss */
.cls-14 {
  stroke-width: 3.26px;
}

/* line 34, scss/_mobile-home.scss */
.cls-15 {
  stroke-width: 4px;
}

/* line 35, scss/_mobile-home.scss */
.cls-16 {
  stroke-width: 12px;
}

/* line 36, scss/_mobile-home.scss */
.cls-19, .cls-20, .cls-21, .cls-22 {
  stroke-linecap: round;
}

/* line 37, scss/_mobile-home.scss */
.cls-19 {
  stroke-width: 10px;
}

/* line 38, scss/_mobile-home.scss */
.cls-21 {
  stroke-width: 2.92px;
}

/* line 39, scss/_mobile-home.scss */
.cls-22 {
  stroke-width: 2.29px;
}

/* line 40, scss/_mobile-home.scss */
.cls-23 {
  fill: #ffe05a;
  opacity: 0.3;
}

/* line 41, scss/_mobile-home.scss */
.cls-24 {
  fill: #f9a580;
}

/* line 44, scss/_mobile-home.scss */
.body-elements {
  width: 85%;
  margin: auto;
  display: block;
  position: initial;
  max-width: 500px;
}

/* line 52, scss/_mobile-home.scss */
.svg-container {
  background-color: #fff;
  margin: auto;
  padding: 10px 0;
  max-width: 800px;
}

/* line 58, scss/_mobile-home.scss */
.body-stripe-top {
  fill: #d3d400;
}

/* line 62, scss/_mobile-home.scss */
.body-stripe {
  fill: #aafffd;
}

/* line 66, scss/_mobile-home.scss */
.window {
  fill: #000;
}

/* line 70, scss/_mobile-home.scss */
.awning {
  fill: #09dfff;
}

/* line 75, scss/_mobile-home.scss */
.satellite {
  display: initial;
}

/* line 79, scss/_mobile-home.scss */
.flood-light {
  display: initial;
}

/* line 83, scss/_mobile-home.scss */
.door {
  fill: #09dfff;
}

/* line 87, scss/_mobile-home.scss */
.body-stripe-bottom {
  fill: black;
  stroke: black;
  stroke-width: 3px;
}

/* line 93, scss/_mobile-home.scss */
.bottom-lines {
  stroke: #09dfff;
}

/* line 97, scss/_mobile-home.scss */
.window-lg, .side-window {
  fill: #ffe7d8;
}
