@font-face {
	font-family:'bebas';
	src: url(fonts/BEBAS.ttf);
}

@font-face {
	font-family:'Sofia';
	src:url(fonts/Sofia-Regular.otf);
}

@font-face {
	font-family:'Learning';
	src:url(fonts/Learning.otf);
}

@font-face {
	font-family:'tondu';
	src: url(fonts/tondu-beta.ttf);
}

@font-face {
	font-family:'cac';
	src: url(fonts/cac_champagne.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

body {
	/*background-color:#CCFFFF;*/
	animation: bodyload 2s;
	/*overflow:hidden;*/
}

/*@keyframes bodyload {
	0% {background:#ffffff;}
	100% {background:#CCFFFF;}
}*/



h2, h1, h4 {
	text-align:center;
	font-family:'tondu';
	display:block;
}

h1 {
	font-size:8em;
}

h4 {
	font-size:3em;
}


.body-wrap {
	width:100%;
	height:100%;
/*	position:relative;
*/}


nav {
	height:50px;
	position:absolute;
	top:0;
	background-color:black;
	width:100%
}


.first-row {
	width: 100%;
	height: auto;
	margin-top:1%;
	position: relative;
	float:left;
	top: 0; left: 0; bottom: 0; left: 0;
}


.first-row div {
	height:auto;
	padding:60px 0 0 0;
	width:100%;
	display:block;
}

.title {
	opacity:0;
	margin-top:5px;
	color:white;
	letter-spacing:10px;
}	


ul {
	list-style-type:none;
	text-align:center;
}

li {
	display:inline;
	padding: 0 15px;
	font-family:"Learning";
	font-size:2em;
	letter-spacing:1;
}


.slide-up {
	animation-name: slide-up;
	-webkit-animation-name: slide-up;

	animation-duration:2s;
	-webkit-animation-duration:2s;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	/*animation-delay:1s;
	-webkit-animation-delay:1s;*/

	animation-timing-function:ease;
	-webkit-animation-timing-function:ease;

	visibility:visible !important;
}


	@keyframes slide-up {
		0% {opacity:1; color:black; transform: translateY(50%); letter-spacing:2em;
			}
		100% {opacity:1;color:black; transform:translateY(0%); letter-spacing:.5em;
			}
	}


	@-webkit-keyframes slide-up {
		0% {opacity:1; color: black; transform: translateY(100%); letter-spacing:2em;
			}
		100% {opacity: 1; color: black; transform:translateY(0%); letter-spacing:..5em;
			}
	}


	.slide-down{
	animation-name: slide-down;
	-webkit-animation-name: slide-down;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	/*animation-delay:1s;
	-webkit-animation-delay:1s;
*/
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;	

	visibility: visible !important;						
}

@keyframes slide-down {
	0% {
		transform: translateY(-100%); opacity:1; background-color:none;
	}	

	100% {
		transform: translateY(0%); opacity:1; background-color:black;
	}		
}

@-webkit-keyframes slide-down {
	0% {
		transform: translateY(-100%); opacity:1; background-color:none;
	}
		
	100% {
		transform: translateY(0%); opacity:1; background-color:black;
	}	
}
	
.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;

	animation-duration:5s;
	-webkit-animation-duration:5s;

	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;

	animation-delay:3.5s;
	-webkit-animation-delay:3.5s;

	animation-timing-function:ease;
	-webkit-animation-timing-function:ease;
}	

@keyframes pulse {
	0%		{opacity:1;}
	50%		{opacity:.56;}
	100% 	{opacity:1;}
}

@-webkit-keyframes pulse {
	0%		{opacity:1;}
	50%		{opacity:.56;}
	100% 	{opacity:1;}
}


.belt {
	position:absolute;
	height:300px;
	width:100%;	
	top:50%;
	overflow:hidden;
}

.belt li {
	margin:0 20px;
	position:relative;
}

.belt ul {
	display:inline-block;

}

.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation-name: marquee;
    -webkit-animation-name:marquee;
    animation-duration:45s;
    -webkit-animation-duration:45s;
    animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;


}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: -150em }
    100% { text-indent: 0em }
}

@-webkit-keyframes marquee {
    0%   { text-indent: -150em }
    100% { text-indent: 0em }
}


.belt img {
width:150px;
}
