/* line 1, scss/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, scss/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, scss/_base.scss */
body {
  line-height: 1;
}

/* line 29, scss/_base.scss */
ol, ul {
  list-style: none;
}

/* line 32, scss/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 35, scss/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, scss/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'marie-thin';
  src: url(fonts/marie-thin.otf);
}
@font-face {
  font-family: 'mesmerize-cd-el';
  src: url(fonts/mesmerize-cd-el.otf);
}
/* line 1, scss/_ocean.scss */
.site-wrapper:before {
  outline: 1px solid #333;
  padding: 5px;
}

/* line 6, scss/_ocean.scss */
.title-row {
  height: 50vh;
  position: relative;
  text-align: center;
  font-family: 'Pompiere', cursive;
}
/* line 46, scss/_base.scss */
.title-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, scss/_ocean.scss */
.title-row .title-wrapper {
  padding-top: 15%;
  font-size: 3em;
}
/* line 18, scss/_ocean.scss */
.title-row__title {
  font-size: 36px;
  opacity: .6;
  font-family: 'Surveyor SSm A', 'Surveyor SSm B';
  font-weight: 400;
  font-style: italic;
}
/* line 24, scss/_ocean.scss */
.title-row__subtitle {
  font-size: 22px;
  line-height: 1.5em;
  opacity: .6;
  margin-left: 5em;
}
/* line 31, scss/_ocean.scss */
.title-row .cloud--left {
  width: 30%;
  margin-left: 10%;
  position: absolute;
  margin-top: 3%;
  opacity: .8;
}
/* line 39, scss/_ocean.scss */
.title-row .cloud--right {
  width: 35%;
  margin-left: -45%;
  position: absolute;
  margin-top: 12%;
  opacity: .8;
}

/* line 49, scss/_ocean.scss */
#submarine, #ship, #scuba-man {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* line 57, scss/_ocean.scss */
#whale {
  width: 25%;
  padding-top: 2%;
}

/* line 62, scss/_ocean.scss */
#submarine {
  width: 45%;
  padding: 25% 0;
}

/* line 69, scss/_ocean.scss */
#submarine *, #ship * {
  stroke-width: .5px;
}

/* line 74, scss/_ocean.scss */
#scuba-man {
  width: 300px;
  display: block;
  -ms-transform: rotate(-20deg);
  /* IE 9 */
  -webkit-transform: rotate(-20deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
}

/* line 83, scss/_ocean.scss */
.underwater {
  background: #bbd9d6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #bbd9d6 0%, #80ccc9 33%, #689ea5 70%, #588289 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbd9d6), color-stop(33%, #80ccc9), color-stop(70%, #689ea5), color-stop(100%, #588289));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bbd9d6 0%, #80ccc9 33%, #689ea5 70%, #588289 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bbd9d6 0%, #80ccc9 33%, #689ea5 70%, #588289 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bbd9d6 0%, #80ccc9 33%, #689ea5 70%, #588289 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bbd9d6 0%, #80ccc9 33%, #689ea5 70%, #588289 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd9d6', endColorstr='#588289',GradientType=0 );
  /* IE6-9 */
}
/* line 46, scss/_base.scss */
.underwater:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, scss/_ocean.scss */
.ship-background {
  stroke: none;
  width: 100%;
}

/* line 100, scss/_ocean.scss */
.explanatory-text {
  width: 30%;
  margin-left: 10%;
  opacity: .6;
  padding-top: 30px;
  font-size: 1.2em;
  font-family: 'Pompiere', cursive;
}
/* line 108, scss/_ocean.scss */
.explanatory-text p {
  line-height: 2em;
}
/* line 112, scss/_ocean.scss */
.explanatory-text strong {
  font-size: 1.9em;
  text-align: left;
}

/* line 120, scss/_ocean.scss */
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(2.5%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(2.5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
