.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: #D6FFF2;
	font-family: 'Josefin Sans', sans-serif;

}


.container-resume {
	background-color: white;
	width: 800px;
	margin: auto;
	padding: 50px;
}

hr {
	color: red;
	margin: 50px 0;
	height: 10px;
	opacity: .6;
}

.headline-main {
	font-size: 36px;
	font-weight: 700;
}

.contact-link {
	display: block;
	text-decoration: none;
	color: #b8b8b8;
}

.contact-link:hover {
	color: #d2d2d2;
}

.headline-section {
	font-size: 22px;
	border-bottom:2px solid #d2d2d2;
}


Pseudo-selectors


















