
.navigation {
    position: fixed;
    top: 0;
    z-index: 2000;
    // border-bottom: 4px dotted $gray;
    width: 100%;
    background: #fff;
    padding: 15px 50px 7px;

    @media (max-width: 640px) {
    padding: 15px 20px 7px;
   }

    &__list {
      float: right;
      display:block;
      padding-top:7px;

      @media (max-width: 580px) {
        text-align: center;
        float: none;
        padding-top: 0px;
      }
    &--icons {
      @extend .navigation__list; 
      padding-left:30px;
    }
    }

    &__item {
      display: inline-block;
      padding: 0 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: 'SimploCaps';
      font-size: 16px;
    }

    &__list--icon {
      @extend .navigation__list;
      padding-left: 50px;
    }

    &__item--icon {
      width: 20px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 20px;
    } 

    &__link {
      color: #383732;
      text-decoration: none;
    }

    &__logo {
      width: 270px;
      display: block;
      float: left;

            @media (max-width: 580px) {
        margin: auto;
        float: none;
        padding-top: 0px;
      }
    }  
}

nav a:hover {
  color: #f95a6d;
  text-decoration: none;
  transition-duration: 800ms;
}

a.nav-active {
    color: #f95a6d;

}


