
body {
  height: 100%;
  background-color: $white;
}



.welcome {
  height: 100vh;

    &__container {
      @include clearfix;
      width: 100%;
      position: fixed;
      // left: 60%;
      // margin: 0 0 0 -43%;
      padding: 100px 20px 0;

      @media (max-width: 650px) {
        padding-top: 130px;
        font-size: 12px;
      }    
    }

    &__message {
      @include clearfix;
      max-width: 700px;
      margin: auto;
    
    }

    &__first {
      font-size: 28px;
    }

    &__image-container {
      width: 100%;
       @include clearfix;
    }

    &__image {
      width: 50%;
      max-width:300px;
      min-width:280px;
      display: block;
      margin: auto;
    }

    &__headline {
      font-size: 1.8em;
      text-shadow:-1.8px -0.4px 0.5px #FFF;
      color:#2F2F2F;
      text-align: center;
      padding: 10px 0;
      font-weight: bold;

       @media (max-width: 650px) {
        font-size: 2em;
      }    
    }

    &__paragraph {
      color:#383732;
      font-size: 1em;
      letter-spacing: 1px;
      text-align: justify;
    }
}



.nub {
position:absolute;
bottom:0px;
left: 10px;
z-index:-1000;
width:230px;
}


.about {
  height:auto;
  background: #00FFE4;
}

.work, .about { 
  margin: auto;
  position: relative;
}


.work {
  background: #fff;

    &__list {
      @include clearfix;
      position: relative;
    }

    &__container {
      position: relative; 
      width: 100%; /* for IE 6 */
      margin: auto;
    }
    
    &__item {
      display: block;
      padding: 30px;

      a {
        display: inline-block;
        text-decoration: none;
        color: $gray;
      }
    }

    &__image {
      width: 100%;
      max-width: 450px;
    }

    &__title {
      font-size: 18px;
      letter-spacing:1px;
      padding-top: 15px;
      text-align: center;
      font-family: 'SimploCaps';
    }
}



img.work-image:hover {
  outline: 2px solid black;
}


img.about {
display:block;
margin-left:auto;
margin-top: 5%;
margin-right:auto;
}



.section-title {
font-size: 1.7em;
color: #FCFEF5;
font-family:'SimploCaps';
background:#383732;
text-transform:uppercase;
text-align:center;
padding: 35px 0;
font-weight:500;
letter-spacing:6px;
text-shadow:0px 0px 0.4px;
}


.image p {
background: rgba(0,0,0,.8);
padding: 14px 0;
color:white;
font-family:'Bentham';
width:70%;
bottom:0;
position:absolute;
text-align: center;
margin-bottom:3%;
display:none;
}

.image:hover p {
transition:display 2s;
display:block;
}


.type {
font-size:.8em;
font-style:italic;
}

span#title {
font-size: 1.2em;

}

#name a img {
width:50px;
}

#og-grid.og-grid img {
width:100%;
max-width:auto;
}


.container {
background-color:#ffffff;
/*background-color:rgba(197, 224, 218, 0.8); */
padding-bottom:5%;
z-index: 300;
}


.cool-facts {
background-color: white;
width:75%;
padding: 5% 1%;
margin-top:5%;
position:relative;
margin:auto;
}

.cool-facts-message {
padding: 20px; }

#aboutme div {
  float:left;
}

a.resume-button {
padding:5px 14px;
display:inline;
width:90px;
font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; 
font-weight: 200; 
font-style: normal;
color:white;
margin:0 2px;
background-color:#383732;
}


p.hellotext {
font-size:14px;
line-height:2em;
font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; 
font-weight: 200; 
font-style: normal; 
}

.big-hello {
font-size:5.5em;
font-family:"GrandHotel";
text-align:center;
}

.cleaning-man {
  bottom: 0px;
  right: 0px;
  position: absolute;
}

footer {
position: relative;
z-index: 2000;
background: #383732;
font-size:.5em;
padding: 15px 0;
text-align: center;
color:white;
}



div.main li.mix{
    display: none;
}

#buttons {
text-align:center;
}

button {
border:none;
text-transform:uppercase;
font-family:'SimploCaps';
color:#383732;
background:none;
outline:none;
letter-spacing:.8px;
text-align:center;
padding:5px 0px;
margin:0 .8%;
cursor: pointer;
cursor: hand;
font-size:.89em;
border-radius:1px;
}

button:hover  {
outline:none;
color: #FFC672;
transition-duration:600ms;
}

button.active {
color:#FFC672;
}

.main {
padding-top:3%;
}

img#eep {
position:relative;
float:right;
z-index:8000;
}


