.bullet-styles {
  background-color: $lightPurple;
  border: none;
  padding: 5px 10px;
  width: 1px;
  height: 20px;
  border-radius: 100px;
  transform: scale(0.4, 0.4);
}

.demo {
  background-color: $lightGrey;
  position: relative;
  z-index: 0;

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
  }
}

.demo__background {
  background-image: url('images/mobile-demo-bg.png');
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0; left: 0;
  top: -70px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

   @media screen and (min-width: $tablet) {
    background-image: url('images/desktop-demo-bg.png');
    top: -140px;
    background-size: contain;
  }
}

.demo__slider {
  margin: auto;
  width: 80%;
  z-index: 40;
  
  // .glide__track {
  //   width: 113%;
    
  //   @media screen and (min-width: $tablet) {
  //     width: 133%;
  //   }
  // }

  .glide__slide {
    padding: 20px;
  }

  .glide__bullets {
    display: flex;
    justify-content: center;
  }

  .glide__bullet {
   @extend .bullet-styles;
  }

  .glide__bullet--active {
    @extend .bullet-styles;
    background-color: $darkPurple;
  }

  .glide__arrow--left {
    display: none;
  }

  .glide__arrow--right {
    display: none;

    @media screen and (min-width: $tablet) {
      background-color: $black;
      position: absolute;
      top: calc(50% - 50px);
      right: -15px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      border: none;
      outline: none;
      border-radius: 50%;

      height: 75px;
      width: 75px;
      transition: opacity .5s;

      &:hover {
        opacity: .85;
      }
    }
  }
}

.demo__slide {
  width: 100%;
  border-radius: 10px;
}

.demo__text span {
  @extend .extra-large-headline;
  margin: 0;
  text-transform: uppercase;
  display: block;
  position: relative;
  z-index: 30;
}

.demo__text {
  padding: 0 16px 0 80px;
  margin: 0;
}

.demo__changes {
  padding-left: 70px;
}

.demo__starting, .demo__here {
  text-align: right;
}

.demo__starting {
  padding-right: 60px;
}

.demo__here {
  text-align: center;
  padding-right: 80px;
}

.demo__signup {
  padding: 60px 0 180px;
}

.demo__button {
  @extend .largeButton--black;
  width: 200px;
  margin: auto;
}