.hero {
  padding: 0 16px;
  margin-top: 25%;
  
  @media screen and (min-width: $tablet) {
    padding: 0 16px 0 80px;
    margin-top: 0;
  }
}

.hero__animation {
  height: 0;
  padding-bottom: 100%; 
  position: relative;

  @media screen and (min-width: $tablet) {
    padding-bottom: 56.25%; /* 16:9 */
  }
  
  div {
    position: absolute;
    margin: auto;
    height: 100%;
  }
}

.hero__text span {
  @extend .extra-large-headline;
  margin: 0;
  text-transform: uppercase;
  display: block;
  position: absolute;
}

.hero__step-up {
  top: 14%;
  z-index: 5;
  
  @media screen and (min-width: $tablet) {
    z-index: 15;
    top: 20%;
  }
}

.hero__your {
  top: 35%;
  z-index: 25;
  left: 10%;
  
  @media screen and (min-width: $tablet) {
    top: 42%;
    left: 10%;
  }
}

.hero__inventory {
  top: 51%;
  z-index: 25;
  left: 10%;
  
  @media screen and (min-width: $tablet) {
    top: 64%;
    left: 10%;
  }
}

.hero__game {
  top: 88%;
  z-index: 35;
  right: 10%;
  
  @media screen and (min-width: $tablet) {
    top: 85%;
    right: 10%;
  }
}

.hero__animation__front__mobile {
  display: block;
  bottom: -24%;
  width: 80%;
  left: 10%;
  right: 0;
  z-index: 40;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.hero__animation__front {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    bottom: -5%;
    width: 60%;
    left: 39%;
    right: 0;
    z-index: 30;
  }
}

.hero__animation__mid__mobile {
  display: block;
  top: -20%;
  width: 80%;
  left: 0;
  right: -24%;
  z-index: 10;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}


.hero__animation__mid {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    top: -20%;
    width: 50%;
    left: 0;
    right: -19%;
  }
}

.hero__animation__back__mobile {
  display: block;
  top: -79%;
  bottom: 0;
  width: 40%;
  left: 0;
  right: 48%;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}


.hero__animation__back {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    top: -30%;
    bottom: 0;
    width: 26%;
    left: 0;
    right: 23%;
  }
}

.hero__bottom__text {
  @extend .gradient-text;
  width: 100%;
  max-width: 50%;
}

.hero__bottom__box {
  display: flex;
  flex-direction: column;
  
  padding: 32px 0;
  margin-top: 10%;
  margin-bottom: 15px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.hero__bottom__list {
  margin-left: auto;
  padding-right: 10%;
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    padding-left: 10%;
    width: 50%;  
    padding-top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li, strong {
    @extend .medium-text;
    padding: 0;
  }

  strong {
    font-weight: 600;
    padding-bottom: 10px;
    display: block;
  }
}

.hero__bottom__paragraph {
  @extend .medium-text;

  @media screen and (min-width: $tablet) {
    width: 50%;
    padding-right: 10%;
  }
}
