.hero {
  padding: 0 16px;
  @media screen and (min-width: $tablet) {
    padding: 0 16px 0 80px;
  }
}

.hero__animation {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  
  div {
    position: absolute;
    margin: auto;
    height: 100%;
  }
}

.hero__text span {
  @extend .extra-large-headline;
  margin: 0;
}

.hero__animation__front {
  top: 0; bottom: -50%; 
  width: 60%;
  left: 20%; right: 0;
  z-index: 30;
}

.hero__animation__mid {
  top: -6%; width: 50%;
  left: 0; right: -3%;
  z-index: 20;
}

.hero__animation__back {
  top: 0; bottom: 0;
  width: 27%;
  left: 0; right: 35%;
  z-index: 10;
}

.hero__bottom__text {
  @extend .gradient-text;
}

.hero__bottom__box {
  display: flex;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000 0;
}

