.perfume {
  background: linear-gradient(180deg, #B0CFEF 0%, #ABCDE3 44.93%, #B3CFDB 65.24%, #C1DBEB 71.21%, #a1c7ee 100%);
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 210px;
  z-index: -20;

  @media screen and (min-width: $tablet) {
    padding-bottom: 0px;
  }
}

.some-css-class-name {
  height: 1000px !important;
}

.perfume__animation__mobile {
  position: relative;
  z-index: -10;
  display: block;
  margin-top: -10%;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.perfume__animation {
  max-width: 1020px;
  margin: auto;
  position: relative;
  z-index: -10;
  margin-top: 0%;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-top: -28%;
  }
}

.perfume__top-text {
  @include top-text-container-relative(#{$black});
}

.perfume__bottom-text {
  @include bottom-text-container(#{$black});
}

.perfume__text {
  max-width: 365px;
}
