.perfume {
  background: linear-gradient(180deg, #B0CFEF 0%, #ABCDE3 44.93%, #B3CFDB 65.24%, #C1DBEB 71.21%, #C1DBE8 100%);
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 360px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
  }

  // height: 0;
  // padding-bottom: 90%; /* 16:9 */
  // position: relative;
  background-color: red;
}

.some-css-class-name {
  height: 1000px !important;
}

.perfume__animation {
  margin: auto;
  max-width: 900px;
  padding-top: 70%;

  @media screen and (min-width: $tablet) {
    padding-top: 15%;
  }
}

.perfume__top-text {
  @include top-text-container(#{$black});
}

.perfume__bottom-text {
  @include bottom-text-container(#{$black});
}

.perfume__text {
  max-width: 365px;
}
