.sunglasses {
  background: linear-gradient(152.32deg, #F6FAFD 3.58%, #F4FAFF 80.82%);
  margin-bottom: 10px;
  position: relative;
}

.sunglasses__animation {
  height: 0;
  padding-bottom: 90%;
  position: relative;
  z-index: 0;
  
  @media screen and (min-width: $tablet) {
  }
}

.sunglasses__top-text {
  @include top-text-container(#{$black});
}

.sunglasses__bottom-text {
  @include bottom-text-container-relative(#{$black});
}

.sunglasses__animation__canvas {
  position: absolute;
}
