.sunglasses {
  background: linear-gradient(152.32deg, #F6FAFD 3.58%, #F4FAFF 80.82%);
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 500px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 100px;
  }
}

.sunglasses__animation {
  padding-top: 70%;

  @media screen and (min-width: $tablet) {
    padding-top: 15%;
  }
}

.sunglasses__top-text {
  @include top-text-container(#{$black});
}

.sunglasses__bottom-text {
  @include bottom-text-container(#{$black});
}