@font-face {
	font-family:'bebas';
	src: url(fonts/BEBAS.ttf);
}

@font-face {
	font-family:'Sofia';
	src:url(fonts/Sofia-Regular.otf);
}

@font-face {
	font-family:'Learning';
	src:url(fonts/Learning.otf);
}

@font-face {
	font-family:'tondu';
	src: url(fonts/tondu-beta.ttf);
}

@font-face {
	font-family:'cac';
	src: url(fonts/cac_champagne.ttf);
}

@font-face {
	font-family:'Ostrich_Sans';
	src: url(fonts/Ostrich_Sans_Inline-regular.otf);
}

@font-face {
	font-family:'PrintClearly';
	src: url(fonts/PrintClearly.otf);
}

@font-face {
	font-family:'PrintDashed';
	src: url(fonts/PrintDashed.otf);
}


@font-face {
	font-family:'Ostrich_Sans_Italic';
	src: url(fonts/Ostrich_Sans_Inline-italic.otf);
}