/* end of reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.left-tag, .fill-tag, .right-vertical-tag {
  transform: rotate(-90deg);
  font-size: 13px;
  font-family: 'VT323', monospace;
  position: absolute; }

.fill-tag, .horizontal-tag {
  background-color: #ee77e3;
  color: #fff;
  padding: 5px 15px; }

.left-tag {
  color: #ee77e3;
  left: -105px;
  top: 92px; }

.fill-tag {
  top: 30px;
  left: 0; }

.horizontal-tag {
  position: absolute;
  right: 0;
  letter-spacing: 1px; }

.right-vertical-tag {
  top: -104px;
  color: #ee77e3;
  right: -73px; }

body {
  background-color: #fff6f3;
  font-family: 'VT323', monospace; }

.container-outer {
  background-color: #ffc7c2;
  min-height: 100vh;
  margin: 50px auto;
  padding: 30px;
  position: relative;
  max-width: 800px;
  width: 80%; }

.introduction {
  text-align: center;
  color: #2c6367;
  margin-top: 30px; }
  @media screen and (min-width: 480px) {
    .introduction {
      margin-top: 60px; } }

.introduction-header {
  color: #3a04ff;
  font-size: 40px;
  padding: 10px 0; }
  @media screen and (min-width: 480px) {
    .introduction-header {
      font-size: 70px; } }

.introduction-subtitle {
  padding: 10px 0;
  display: block; }

.introduction-paragraph {
  width: 70%;
  min-width: 230px;
  margin: auto;
  line-height: 1.4;
  padding: 20px 0; }

.calculator {
  width: calc(100% + 120px);
  background-color: #ffcde3;
  margin: 20px -60px 80px;
  padding: 20px;
  position: relative; }

.calculator__headline {
  font-size: 30px;
  text-align: center;
  color: #3a04ff;
  margin-bottom: 40px; }

.calculator__container {
  max-width: 600px;
  margin: 20px auto; }

.calculator__inside {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 480px) {
    .calculator__inside {
      flex-direction: row; } }

.report-container {
  border-top: 1px solid #ee77e3;
  margin: 40px 0; }

.ratings {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0; }

.ratings__circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #3a04ff; }

.solid {
  background-color: #3a04ff; }

.upload-box {
  border: 2px dotted white;
  position: relative;
  width: 50%;
  padding: 10px; }

.select {
  height: 200px;
  width: 100%; }

.image-container {
  height: auto;
  width: 100%; }

.box {
  padding: 20px;
  width: 50%;
  align-self: center; }

.preview {
  max-width: 80%;
  margin: auto;
  display: block; }

.logo {
  max-width: 140px;
  width: 30%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px; }

.preview-container img {
  width: 100%; }

.bottom {
  position: absolute;
  bottom: -27px;
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #ffcde3;
  margin: auto;
  color: #ee77e3; }

.bottom-img {
  width: 25px;
  margin-bottom: 10px; }

.button-container {
  max-width: 200px; }

.button {
  background-color: #0effd3;
  padding: 10px 20px;
  width: 100%;
  border: none;
  margin: 10px 0;
  outline: none;
  box-shadow: 4px 4px 2px 0px #2b223e59;
  border-radius: 3px;
  font-family: 'VT323', monospace;
  font-size: 15px;
  color: #2c6367;
  cursor: pointer;
  transition: box-shadow .5s, background-color .5s; }
  .button:hover {
    background-color: #0afffd;
    box-shadow: 4px 5px 7px 0px #2b223e59; }
  .button:disabled {
    opacity: .4;
    cursor: default; }

/*# sourceMappingURL=styles.css.map */
