@font-face {
	font-family:'League-Spartan';
	src:url(fonts/LeagueSpartan-Bold.otf);
}

body {
  border: 10px solid #fff;
}

svg {
	width: 150px;
}

#train {
	width: 220px;
	padding-top: 15px;
	margin-left: -5px;
	}

.frame {
	width: 97%;
	margin-top:50px;
	margin-left: auto;
	margin-right:auto;
	border: 3px solid #232323;
	background-color:white;
	z-index:30000;
	position:relative;
}

.icon-grid {
	padding-top:50px;
	border-bottom:1px solid black;
	margin-bottom:50px;
}
header {
	border-bottom: 1px solid #232323;
	position:fixed;
	background:#232323;

	
	
	h1 {
		text-align: center;
		font-family: 'League-Spartan';
		font-weight: normal;
		letter-spacing: 1.5px;
		padding-bottom: 10px;
		font-size: 1.8em;
		color:white;
	}
}

img {
	width: 150px;
}

.train img {
	padding-top: 35px;
	width: 230px;
}

.clock {
	width: 130px;
	padding-top:10px;
}

.satchel {
	width: 200px;
}

.name {
	padding: 60px;
	font-size: 18px;
	text-align: center;
	font-family: 'Old Standard TT', serif;
}