/* line 1, scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, scss/_reset.scss */
html * > svg {
  -webkit-transform-origin-x: 0%;
  -webkit-transform-origin-y: 0%;
  -webkit-transform-origin-z: initial;
}

/* HTML5 display-role reset for older browsers */
/* line 28, scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, scss/_reset.scss */
body {
  line-height: 1;
}

/* line 35, scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, scss/_styles.scss */
html * {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 5, scss/_styles.scss */
.header {
  background-color: #333;
}
/* line 8, scss/_styles.scss */
.header__logo {
  margin: auto;
  padding: 10px;
  width: 200px;
  display: block;
}
/* line 15, scss/_styles.scss */
.header__authors {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  display: block;
  font-size: 12px;
  padding: 0 0 20px;
  text-align: center;
}
/* line 24, scss/_styles.scss */
.header__chapter {
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 20px;
  color: #45b1e3;
  padding: 20px;
}

/* line 35, scss/_styles.scss */
.video-profile {
  background-color: #d7f4fa;
}
/* line 38, scss/_styles.scss */
.video-profile__video-container {
  padding: 20px 20px 40px;
  max-width: 1440px;
  margin: auto;
}
@media (min-width: 768px) {
  /* line 38, scss/_styles.scss */
  .video-profile__video-container {
    padding: 40px;
  }
}
/* line 48, scss/_styles.scss */
.video-profile__video {
  width: 100%;
  box-sizing: border-box;
  max-width: 670px;
  margin: auto;
  display: block;
}
/* line 56, scss/_styles.scss */
.video-profile__info {
  margin: 20px 0px;
}
/* line 60, scss/_styles.scss */
.video-profile__chapter {
  color: #45b1e3;
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 70, scss/_styles.scss */
.qa__title, .video-profile__info__title {
  font-size: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  /* line 70, scss/_styles.scss */
  .qa__title, .video-profile__info__title {
    font-size: 40px;
    padding-bottom: 10px;
  }
}

/* line 83, scss/_styles.scss */
.qa {
  max-width: 1440px;
  margin: auto;
  padding: 20px 20px 40px;
}
@media (min-width: 768px) {
  /* line 83, scss/_styles.scss */
  .qa {
    padding: 38px;
  }
}
/* line 92, scss/_styles.scss */
.qa__title {
  margin: 20px 0px;
}
/* line 96, scss/_styles.scss */
.qa__questions {
  margin: auto;
  width: 100%;
  max-width: 1440px;
}
/* line 102, scss/_styles.scss */
.qa__bottom, .qa__top {
  margin: 10px 0;
}
@media (min-width: 768px) {
  /* line 102, scss/_styles.scss */
  .qa__bottom, .qa__top {
    margin: 40px 0;
  }
}
/* line 111, scss/_styles.scss */
.qa__dropcap, .qa__quotes {
  font-size: 22px;
  width: 26px;
  font-family: Georgia, serif;
  font-weight: bold;
  vertical-align: top;
}
@media (min-width: 768px) {
  /* line 111, scss/_styles.scss */
  .qa__dropcap, .qa__quotes {
    font-size: 28px;
  }
}
/* line 123, scss/_styles.scss */
.qa__quotes {
  display: none;
}
/* line 127, scss/_styles.scss */
.qa__item {
  display: inline-block;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  /* line 127, scss/_styles.scss */
  .qa__item {
    width: calc(100% / 3);
  }
}
/* line 139, scss/_styles.scss */
.qa__question {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  /* line 139, scss/_styles.scss */
  .qa__question {
    font-size: 16px;
    line-height: 1.2;
  }
}
/* line 149, scss/_styles.scss */
.qa__video, .qa__question-container {
  width: calc(100% - 32px);
  padding-left: 10px;
  display: inline-block;
  line-height: 1;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  /* line 149, scss/_styles.scss */
  .qa__video, .qa__question-container {
    width: calc(100% - 40px);
  }
}

/* line 164, scss/_styles.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}
