
.navigation {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    background: #fff;
    padding: 15px 50px 7px;

    &__list {
      float: right;
      display:block;
      padding-top:20px;
    }

    &__item {
      display: inline-block;
      padding: 0 10px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-family: 'SimploCaps';
      font-size: 16px;
    } 

    &__link {
      color: #383732;
      text-decoration: none;
    }

    &__logo {
      width: 270px;
      display: block;
      float: left;
    }  
}

nav a:hover {
  color: #f95a6d;
  text-decoration: none;
  transition-duration: 800ms;
}

a.nav-active {
color: #FFC672;
}


