
body {
  height: 100%;
  background-color: $white;
}

.welcome {
  height: 100%;

    &__container {
      @include clearfix;
      width: 100%;
      height: 100vh;
      position: relative;
      padding: 100px 20px 0;
      background: rgba(255, 192, 171, 0.33);

      @media (max-width: 650px) {
        padding-top: 130px;
        font-size: 12px;
      }    
    }

    &__message {
      @include clearfix;
      max-width: 600px;
      margin: auto; 
    }

    &__image-container {
      width: auto;
      margin: auto;
      @include clearfix;
    }

    &__image {
      width: 80%;
      margin: auto;
      max-width:300px;
      min-width:200px;
      display: block;
    }

    &__headline {
      font-size: 1.8em;
      color:#2F2F2F;
      text-align: center;
      padding: 10px 0 5px;
      font-family: 'Surveyor SSm A', 'Surveyor SSm B';
  font-weight: 400;
  font-style: normal; 

       @media (max-width: 650px) {
        font-size: 1.6em;
      }    
    }

    &__paragraph {
       font-family: 'Surveyor SSm A', 'Surveyor SSm B';
font-weight: 300;
font-style: normal;
        line-height: normal;
        font-size: 14px; 
      }
    }


.welcome__background-container {
  width: 100%;
  height: auto;
  padding: 80px 80px;
  border: 10px double $gray;
  background-color: $white;; 
  border-radius: 1px;
  margin: auto;
  max-width: 700px;

  @media (max-width: 650px) {
        padding: 30px;
        font-size: 14px;
      }    
}

.nub {
position:absolute;
bottom:0px;
left: 10px;
z-index:-1000;
width:230px;
}


.about {
  height:auto;
  background: #00FFE4;
}

.work, .about { 
  margin: auto;
  position: relative;
}


.work {
  background: #fff;

    &__list {
      @include clearfix;
      position: relative;
    }

    &__container {
      position: relative; 
      width: 100%; /* for IE 6 */
      margin: auto;
      background: $white;
    }
    
    &__item {
      display: block;
      padding: 30px;
      min-height: 328px;

      a {
        display: inline-block;
        text-decoration: none;
        color: $gray;
      }
    }

    &__image {
      width: 100%;
      max-width: 450px;
    }

    &__title {
      font-size: 18px;
      letter-spacing:1px;
      padding-top: 15px;
      text-align: center;
      font-family: 'SimploCaps';
    }
}



img.work-image:hover {
  outline: 2px solid black;
}


img.about {
display:block;
margin-left:auto;
margin-top: 5%;
margin-right:auto;
}



.section-title {
font-size: 1.7em;
color: #FCFEF5;
font-family:'SimploCaps';
background:#383732;
text-transform:uppercase;
text-align:center;
padding: 35px 0;
font-weight:500;
letter-spacing:6px;
text-shadow:0px 0px 0.4px;
}


.image p {
background: rgba(0,0,0,.8);
padding: 14px 0;
color:white;
font-family:'Bentham';
width:70%;
bottom:0;
position:absolute;
text-align: center;
margin-bottom:3%;
display:none;
}

.image:hover p {
transition:display 2s;
display:block;
}


.type {
font-size:.8em;
font-style:italic;
}



footer {
  position: relative;
  z-index: 2000;
  background: #383732;
  font-size:.5em;
  padding: 15px 0;
  text-align: center;
  color:white;
}




