// .work-body {
// 	background: $white;
// }

.work-details {
	background: #fff;
	text-align: center;
	padding: 20px 0 60px;
	margin: 20px;


	&__role {
		font-size: 16px;
		padding-top: 10px;
	}

	&__title {
		font-size: 28px;
		margin-bottom: 40px;
		color: #FCFEF5;
		font-family:'SimploCaps';
		background: #383732;
		text-transform: uppercase;
		text-align: center;
		padding: 25px 0;
		letter-spacing: 6px;
	}
}


.work__image--main {
	width: 75%;
	margin: 20px auto;
	min-width: 300px;
	max-width: 600px;

	&--dwell {
		max-width: 400px;
		margin: 30px;
	}

}

.work__image:hover {
	outline: 1px solid black;
}


.work__explanation {
	width: 70%;
	text-align: left;
	line-height: 19.2px;
	font-size: 16px;  
	font-family: 'Vollkorn', serif;
	margin: 30px auto;
	max-width: 630px;
	min-width: 270px;

	p {
		padding: 10px 0;
	}
}