// .work-body {
// 	background: $white;
// }

.work-details {
	background: #fff;
	text-align: center;
	padding: 20px 0 60px;
	margin: 20px;


	&__role {
		font-size: 16px;
		padding-top: 10px;
	}

	&__title {
		font-size: 28px;
		margin-bottom: 40px;
		color: #FCFEF5;
		font-family:'SimploCaps';
		background: #383732;
		text-transform: uppercase;
		text-align: center;
		padding: 25px 0;
		letter-spacing: 6px;
	}
}


.work__image--main, .image__caption {
	width: 100%;
	margin: 40px auto 0;
	min-width: 300px;
	max-width: 600px;

	&--dwell {
		max-width: 400px;
		margin: 30px;
	}

	&--icon {
		width: 150px;
	}

}

.image__caption {
	font-size: 13px;
	color: $gray-2;
	line-height: 14px;
	margin: 20px auto 30px;
	text-align: left;
}

.work__image {
	outline: 5px solid $white;;
	transition: outline .5s;

}

.work__image:hover {
	outline: 10px solid $gray;
}


.work__explanation {
	width: 70%;
	text-align: left;
	line-height: 19.2px;
	font-size: 16px;  
	font-family: 'Vollkorn', serif;
	margin: 30px auto;
	max-width: 630px;
	min-width: 270px;

	p {
		padding: 10px 0;
	}

	ol, ul {
		padding-left: 30px;
	}

	li  {
		padding: 3px;
	}

	ul {
		list-style-type:disc;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}
}

.work__explanation__title {
	font-weight: bold;
	font-size: 18px;
	padding-top: 20px;
}

.work__explanation__subtitle {
	color: $gray-2;
	font-size: 16px;
}