// .work-body {
// 	background: $white;
// }

.work-details {
	background: #fff;
	text-align: center;
	padding: 20px 0 60px;
	margin: 20px;


	&__role {
		font-size: 16px;
		padding-top: 10px;

		@media (max-width: 650px) {
        font-size: 12px;
        letter-spacing: 3px;
      } 
	}

	&__title {
		font-size: 28px;
		color: #FCFEF5;
		background: #383732;
		text-align: center;
		padding: 25px 0;
		letter-spacing: 3px;

		@media (max-width: 650px) {
			font-size: 16px;
			letter-spacing:2px;
			margin: 30px 0 0 0;
		}
	}
}

.work__image--main {
	padding: 40px 0 0 0;
}

.image__caption {
	padding-bottom: 20px;
}

.work__image--main, .image__caption {
	width: 100%;
	margin: auto;
	min-width: 270px;
	max-width: 600px;

	&--icon {
		width: 150px;
	}

}

.dwell {
	max-width: 400px;
	margin: auto;
}

.robot {
	max-width: 400px;
	margin:auto;
}


.image__caption {
	font-size: 13px;
	color: $gray;
	line-height: 14px;
	margin: 20px auto 30px;
	text-align: left;
}

.work__image {
	outline: 5px solid $white;;
	transition: outline .3s;
}

.work__image:hover {
	outline: 10px double $gray;
}


.work__explanation {
	width: 70%;
	text-align: left;
	line-height: 19.2px;
	font-size: 13px;  
	margin: 20px auto;
	max-width: 630px;
	min-width: 270px;
	font-family: 'Surveyor SSm A', 'Surveyor SSm B';
	font-weight: 300;

	p {
		padding: 10px 0;
	}

	ol, ul {
		padding-left: 30px;
	}

	li  {
		padding: 3px;
	}

	ul {
		list-style-type:disc;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}
}

// .work__explanation__title {
// 	font-size: 24px;
// }

// .work__explanation__subtitle {
// 	font-size: 14px;
// }

.work__explanation__subtitle, 
.work__explanation__title  {
	padding-top: 20px;
	font-family:'SimploCaps';
	font-size: 20px;
	letter-spacing: 1px;

}