body {
  border: 20px solid #E6FBF5;
}

.frame {
	width: 97%;
	margin-left: auto;
	margin-right:auto;
}

.icon-grid {
	padding-top:50px;
	border-bottom:1px solid black;
	margin-bottom:50px;
}
header {
	padding: 50px 0 50;
	border-bottom: 1px solid #232323;
	
	
	h1 {
		text-align: center;
		font-family: 'Old Standard TT', serif;
		font-weight: normal;
		letter-spacing: 1.5px;
		padding-bottom: 10px;
		font-size: 1.5em;
	}
}

img {
	width: 150px;
}

.train img {
	padding-top: 35px;
	width: 230px;
}

.clock {
	width: 130px;
	padding-top:10px;
}

.satchel {
	width: 200px;
}

.name {
	padding: 60px;
	font-size: 18px;
	text-align: center;
	font-family: 'Old Standard TT', serif;
}