//Colors
$lightBlue: #AFCEEE;
$darkBlue: #2334EF;
$lightPurple: rgba(49, 70, 255, 0.3);
$darkPurple:  #3146FF;
$lightGrey: #E5E5E5;
$white: #fff;
$black: #000;

//Gradients
$purplePinkGradient: linear-gradient(230.19deg, #F27690 15.27%, #0029FF 113.6%);

//Fonts
$workSans: 'Work Sans', sans-serif;

//Breakpoints
$phone: 576px;
$tablet: 768px;
